.pic1 {
	background: url(../img/Fall/bg.jpg) no-repeat center;
}
.pic2 {
	background: url(../img/Fall/feng.jpg) no-repeat center;
}
.pic3 {
	background: url(../img/Fall/gui.jpg) no-repeat center;
}
.pic4 {
	background: url(../img/Fall/huang.jpg) no-repeat center;
}
.pic5 {
	background: url(../img/Fall/yin.jpg) no-repeat center;
}