* {
	margin: 0;
	padding: 0;
}
html, body, .wrap {
	height: 100%;
	position: relative;
	background: black;
	overflow: hidden;
}


.header {
	height: 60px;
	width: 100%;
	background: black;
	position: fixed;
	top: 0;
	z-index: 999;
}
.header .headerWrap {
	height: 100%;
	width: 85%;
	margin: 0 auto;
}
.headerWrap span {
	float: left;
	line-height: 55px;
	font-size: 35px;
	font-weight: bolder;
	color: white;
	margin-left: 10px;
}
.headerWrap img {
	margin-top: 5px;
	float: left;
	width: 60px;
}
.headerWrap ul {
	float: right;
	height: 100%;
}
.headerWrap li {
	float: left;
	width: 100px;
	line-height: 60px;
	list-style: none;
	margin: 0 5px;
	text-align: center;
}
.headerWrap li a {
	display: block;
	width: 100%;
	height: 100%;
	color: gray;
	text-decoration: none;
	font-weight: bolder;
	transition: all .3s ease;
}
.headerWrap li a:hover {
	color: white;
	transform: scale(1.5);
}

article {
	height: 100%;
}
.swiper-container {
	height: 100%;
	position: absolute;
	z-index: 1;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
}

.pic1 {
	display: block;
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	color: white;
	text-align: center;
	line-height: 400px;
	font-size: 200px;
	text-decoration: none;
}

.footer {
	height: 30px;
	width: 100%;
	color: white;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	background: black;
	position: fixed;
	z-index: 999;
	bottom: 0;
}