.pic1 {
	background: url(../img/Spring/bg.jpg) no-repeat center;
}
.pic2 {
	background: url(../img/Spring/du.jpg) no-repeat center;
}
.pic3 {
	background: url(../img/Spring/hi.jpg) no-repeat center;
}
.pic4 {
	background: url(../img/Spring/mu.jpg) no-repeat center;
}
.pic5 {
	background: url(../img/Spring/ying.jpg) no-repeat center;
}