.pic1 {
	background: url(../img/Summer/bg.jpg) no-repeat center;
}
.pic2 {
	background: url(../img/Summer/bai.jpg) no-repeat center;
}
.pic3 {
	background: url(../img/Summer/mei.jpg) no-repeat center;
}
.pic4 {
	background: url(../img/Summer/yu.jpg) no-repeat center;
}
.pic5 {
	background: url(../img/Summer/zi.jpg) no-repeat center;
}