.pic1 {
	background: url(../img/Winter/bg.jpg) no-repeat center;
}
.pic2 {
	background: url(../img/Winter/jun.jpg) no-repeat center;
}
.pic3 {
	background: url(../img/Winter/mei.jpg) no-repeat center;
}
.pic4 {
	background: url(../img/Winter/shan.jpg) no-repeat center;
}
.pic5 {
	background: url(../img/Winter/xiao.jpg) no-repeat center;
}